h1{
   border: 4px solid #001f4f;
   border-radius :20px;
    width: 720px;
    background-color: orange;
    padding-left: 27px;
    color: white;
}
fieldset {
    background-color: #001f4f;
    border: 4px solid orange ;
    margin-bottom: 10px;
    border-radius: 10px;
    width:720px;
    font-weight:bold ;
    color: white;
    
}
label {
    width: 180px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-bottom: 10px;
    
}
.options {
    width:auto;
}
.range-low, .range-high {
    text-align: center;
    color: white;
    display: inline-block;
    width:60px;
    vertical-align: top;
}
.range-low {
    background-color: rgb(238, 55, 55);
}
.range-high {
    background-color: rgba(41, 172, 1, 0.61);
}
textarea {
    width: 360px;
    height:	50px;
}
label:hover, input:hover {
    font-size: 20px;
}

body{
    
    max-width: 600px;
    margin: auto;
   
       
}

.button{
    margin-left: 325px;
    display: inline-block;
	text-decoration:none;
	color: rgb(19, 19, 19);
	border: 5px solid orange;
	padding: 8px 30px;
	font-size: 15px;
	background:transparent;
	position: relative;
	cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}


.button:hover{
	border: 1px solid #f44336;
	background-color: #001f4f;
	transition: 0.5s;
    color: white;
}